/* global */
:root {
  /* color */
  /* font-size */
  --font-large: 48px;
  --

  /* font-weight */
  /* border-radius */
  /* animation */
}

* {
  box-sizing: border-box;
}

body {
  font-family:'open sans', sans-serif;
  margin: 0;
}
