/* global */
:root {
  /* color */
  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* border-radius */

  /* animation */
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  font-family:'open sans', sans-serif;
  margin: 0;
}

/* Typographic */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

